In [4]:
# sort the list writing logic
lst = [10, 20, 34, 55, 20, 90]

for i in range(len(lst) - 1):
    for j in range(i, len(lst) - 1):
        if lst[i] > lst[j + 1]:
            lst[i], lst[j+1] = lst[j + 1], lst[i]
print(lst)

[10, 20, 20, 34, 55, 90]

In [5]:
# create a dictionary where key is the character in s1 and value is the number of times the character is in s1
dict2 = {}
s1 = 'football match'

s1_set = set(s1)
for i in s1_set:
    dict2[i] = s1.count(i)

print(dict2)

{'l': 2, ' ': 1, 'c': 1, 'h': 1, 'f': 1, 'm': 1, 'o': 2, 'b': 1, 't': 2, 'a': 2}

In [17]:
# 1.How would you confirm that 2 strings have the same identity?
str1 = 'test string'
str2 = 'test string'

if str1 == str2:
    print(f'Both strings have the same identity')
else:
    print(f'Both string do not have the same identity')

Both strings have the same identity

In [27]:
# 2.How would you check if each word in a string begins with a capital letter?
str1 = 'All The Words Begin In Capital Letters'
str2 = 'Some Words begin In captial Letters'

def capital_check(s):
    words = s.split()
    
    for word in words:
        if not word.istitle():
            return False
        
    return True

print(capital_check(str1))
print(capital_check(str2))

True
False

In [30]:
# 3.What is an f-string and how do you use it?
# can be used to add variables directly into the string format

str1 = 'test string'

print(f'Inserting \"{str1}\" using f string')

Inserting "test string" using f string

In [3]:
# 4.Reverse the string “hello world”.
str1 = 'hello world'
print(str1[::-1])

dlrow olleh

In [33]:
# 5.Word location in String

test_str = 'This is a random sentence written on Jupyter notebook'
target_word = 'note4book'

def find_word_loc(word, s):
    try:
        index = s.find(word)
    except ValueError:
        print('Word not found')
    
    return index     # returns -1 if word is not located in string, else it locates index

print(find_word_loc(target_word, test_str))

-1

In [12]:
# 6.Test if string is subset of another
str1 = 'bowling'
str2 = 'bowl'

if str2 in str1:
    print('yes')
else:
    print('no')

yes

In [36]:
# 7.Python program to interchange first and last elements in a list
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]

def swap_ends(lst: list):
    if len(lst) < 2:
        return lst
    
    start = lst[0]
    end = lst[-1]
    
    #swaps
    lst[0] = end
    lst[-1] = start
    
    return lst

print(swap_ends(l))

[9, 2, 3, 4, 5, 6, 7, 8, 1]

In [7]:
# 8.Python program to swap two elements in a list
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]

def element_swap(lst: list, idx1: int, idx2):
    index_range = len(lst) - 1
    if abs(idx1) > index_range or abs(idx2) > index_range:
        print('Index selection out of range')
        return -1
    
    first = lst[idx1]
    second = lst[idx2]
    
    #swap
    lst[idx1] = second
    lst[idx2] = first
    
    return l

print(element_swap(l, 5, 8))
print(element_swap(l, 1, 9))

[1, 2, 3, 4, 5, 9, 7, 8, 6]
Index selection out of range
-1

In [46]:
# 9.Python program to count positive and negative numbers in a list
l = [-1, 5, 7, -9, 3, 8, 31, -14, 0]

def count_neg_and_pos(l):
    total_neg = 0
    total_pos = 0
    
    for i in range(0, len(l)):
        if l[i] == 0:
            break
        elif l[i] > 0:
            total_pos += 1
        else:
            total_neg += 1
    
    print(f'Total positive numbers are: {total_pos} | Total negative numbers are: {total_neg}')
    
count_neg_and_pos(l)

Total positive numbers are: 5 | Total negative numbers are: 3

In [9]:
# 10.Python Program to remove empty tuples from a list
lst = [(1, 4, 5), (), (4, 7), (5), ()]

def rmv_empty_ele(l: list):
    result = [x for x in l if x]
    return result

print(rmv_empty_ele(lst))

[(1, 4, 5), (4, 7), 5]

In [10]:
# 11.Program to print duplicates from a list of integers
lst = [1, 2, 2, 6, 7, 8, 9, 9, 10, 11, 15, 15]

def print_dups(l: list):
    exists = []
    duplicates = []
    for i in lst:
        if i in exists:
            duplicates.append(i)
        else:
            exists.append(i)
    
    print(duplicates)

print_dups(lst)

[2, 9, 15]

In [13]:
# 12.Program to count unique values inside a list
lst = [1, 2, 2, 6, 7, 8, 9, 9, 10, 11, 15, 15]

def unique_vals(l: list):
    l_set = set(l)
    return len(l_set)

unique_vals(lst)

9

In [81]:
# 13.Python Program to Retain records with N occurrences of K | limit the number of occurances of a value
# ex: if 2 exists in a list more than 4 times, we'll ignore any amount more than 4

lst = [1, 5, 2, 6, 8, 2, 1, 1, 1, 9, 6, 5, 8, 8, 1, 5, 2, 6, 8, 2, 1, 1, 1, 9, 6, 5, 8, 8, 5, 5, 5, 5, 5, 5]

def limit4_list(l: list):
    new_lst = []
    for i in lst:
        if new_lst.count(i) < 4:
            new_lst.append(i)
    
    return new_lst

limit4_list(lst)

[1, 5, 2, 6, 8, 2, 1, 1, 1, 9, 6, 5, 8, 8, 5, 2, 6, 8, 2, 9, 6, 5]

In [25]:
# 14.Find the size of a Dictionary in Python

d = {'Name': 'Michael Johnson', 'Age': 35, 'Gender': 'M', 'Country': 'Canada'}

def dict_size(d: dict):
    return len(d)

dict_size(d)

4

In [24]:
# 15.Python Program to Merge two Dictionaries

d1 = {'Ford': 5, 'GMC': 9, 'Kia': 18, 'Audi': 3}
d2 = {'BMW': 11, 'Ford': 9, 'Dodge': 4}

def dict_merge(dict1: dict, dict2: dict):
    return dict1 | dict2

print(dict_merge(d1, d2))

{'Ford': 9, 'GMC': 9, 'Kia': 18, 'Audi': 3, 'BMW': 11, 'Dodge': 4}

In [29]:
# 16.Program to Group Similar items to Dictionary Values List
lst = [1, 5, 2, 6, 8, 2, 1, 1, 1, 9, 6, 5, 8, 8]
d = {}

def group_to_dict(l: list, d: dict = {}):
    for i in set(l):
        d[i] = l.count(i)
    print(d)
    
group_to_dict(lst, d)

{1: 4, 2: 2, 5: 2, 6: 2, 8: 3, 9: 1}

In [84]:
# 17.Program Extract values of Particular Key in Nested Values

d = {'Name': 'Michael Johnson', 'Age': 35, 'Gender': 'M', 'Country': 'Canada'}

def get_val(d: dict, k: str):
    return d[k]

get_val(d, 'Age')

35

In [79]:
**# 18.Program to Reverse Dictionary Keys Order

d = {'Name': 'Michael Johnson', 'Age': 35, 'Gender': 'M', 'Country': 'Canada'}
a ={}

tempKV = d.popitem()
print(tempKV)

print(d)

('Country', 'Canada')
{'Name': 'Michael Johnson', 'Age': 35, 'Gender': 'M'}

In [87]:
# 19.Program to Sort Nested keys by Value

d = {'A': 1, 'B': 4, 'C': 9, 'D': 3, 'E': 10, 'F': 2}

def sort_keys(d: dict):
    return sorted(d.items(), key=lambda x: x[1], reverse=True)

sort_keys(d)

[('E', 10), ('C', 9), ('B', 4), ('D', 3), ('F', 2), ('A', 1)]

In [6]:
# 20.Python program to check if a given number is an Armstrong number

num = 153

def is_armstrong_num(x:int):
    x_sum = 0
    x_str = str(x)
    x_len = len(x_str)
    
    for i in str(x):
        x_sum += int(i)**x_len
    
    return x == x_sum

is_armstrong_num(num)

True

In [39]:
# 21.Write a program in Python to display the Factorial of a number. (implying the number is not negative)

num = 5

def factorial_of_input(n: int):
    
    if n == 0:
        return 0
    elif n < 1:
        return -1
    
    total = n
    for i in range(n-1):
        total *= i+1
    print(total)
    
factorial_of_input(num)

120

In [42]:
# 22.Write a program in Python to reverse a word using loop.

test_str = 'reverseword'
 
def reverse_str(s: str):
    str_len = len(s)
    rev_lst = []
    
    for i in range(1, str_len + 1):
         rev_lst.append(s[-i])
    
    result = ''.join(rev_lst)
    return(result)
    
reverse_str(test_str)

'drowesrever'

In [64]:
# 23.Write a program to fetch only even values from a dictionary using loop.

d = {'A': 1, 'B': 4, 'C': 9, 'D': 3, 'E': 10, 'F': 2}

def dict_even_vals(d: dict):
    even_keys = []
    for k, v in d.items():
        if v%2 == 0:
            even_keys.append(k)
    return even_keys

dict_even_vals(d)

['B', 'E', 'F']

In [101]:
# 24.Python program to find the power of a number using recursion.

num = 9
power = 2

def pwr_num(n: int, pwr: int):
    if pwr == 1:
        return n
    
    n *= n
    return(pwr_num(n, pwr-1))

pwr_num(num, power)

81

In [4]:
# 25.Write a program to print twin primes less than 1000. 
# If two consecutive odd numbers are both prime then they are known as twin primes

twin_prime_lst = []
MAX_RANGE = 1000

def twin_primes(rng: int):
    before = 0
    
    for num in range(3, rng, 2):
        for j in range(2, num):
            if(num % j) == 0:
                break
        else:
            if (num - before) == 2:
                twin_prime_lst.append((before, num))
            before = num
    return twin_prime_lst

twin_primes(MAX_RANGE)

[(3, 5),
 (5, 7),
 (11, 13),
 (17, 19),
 (29, 31),
 (41, 43),
 (59, 61),
 (71, 73),
 (101, 103),
 (107, 109),
 (137, 139),
 (149, 151),
 (179, 181),
 (191, 193),
 (197, 199),
 (227, 229),
 (239, 241),
 (269, 271),
 (281, 283),
 (311, 313),
 (347, 349),
 (419, 421),
 (431, 433),
 (461, 463),
 (521, 523),
 (569, 571),
 (599, 601),
 (617, 619),
 (641, 643),
 (659, 661),
 (809, 811),
 (821, 823),
 (827, 829),
 (857, 859),
 (881, 883)]

In [5]:
# 26.Write a function that inputs a number and returns the product of digits of that number.

num = -555

def num_product(n: int):
    if n == 0:
        return -1    
    
    n_str = str(n)
    n_sign = 1
    product = 1
    
    if n < 0:
        n_sign = -1
        n_str = n_str[1:]
    
    for i in n_str:
        product *= int(i)
    
    product *= n_sign
    
    return product

num_product(num)

-125

In [63]:
# 27.Get last N elements from given list in Python

lst = [1, 2, 3, 4, 5, 6, 7, 8]
NthElement = 5

def last_nth_ele(l: list, n: int):
    lst_len = len(l)
    
    if n > lst_len:
        print('Nth element is greater than length of list')
        return -1
      
    result = []
    for i in range(lst_len - n, lst_len):
        result.append(l[i])

    return result
        
last_nth_ele(lst, NthElement)

[4, 5, 6, 7, 8]

In [54]:
# 28.Check if two given Strings are Isomorphic to each other

In [55]:
# 29.Python Program to Remove Consecutive K element records

In [14]:
# 30.Python program to find the Strongest Neighbour

lst = [10, 20, 40, 50, 40, 40, 20, 30, 50, 10, 20]

def find_strongest_neighbor(l: list):
    strongest_neighbors = []
    
    for i in range(len(l)):
        if i == 0:
            strongest_neighbors.append(max(l[i], l[i+1]))
        elif i == len(lst) - 1:
            strongest_neighbors.append(max(l[i], l[i-1]))
        else:
            strongest_neighbors.append(max(l[i-1], l[i], l[i+1]))
        
    return strongest_neighbors

find_strongest_neighbor(lst)

[20, 40, 50, 50, 50, 40, 40, 50, 50, 50, 20]

In [11]:
d = {'a': 10, 'b': 30, 'c': 11}

for key, val in d.items():
    if key == 'b':
        print(val)

30

In [52]:
lst = [10, 20, 40, 50]
lst1 = [30, 40, 60]

dups = [i for i in lst if i in lst1]
print(dups)

[40]

In [55]:
lst = [10, 20, 40, 50, 40, 40, 20, 30, 50, 10, 20]
lst1 = [30, 40, 60, 60, 40, 20, 30, 30]

set_lst = set(lst)
set_lst1 = set(lst1)

dups = [i for i in set_lst if i in set_lst1]
print(dups)

# d = dict(zip(lst, lst))
# d1 = dict(zip(lst1, lst1))
 
# print(d.keys() & d1.keys())

{40, 20, 30}

In [56]:
a = 190
b = 10

def sumValues(a, b):
    return a + b

sum_values(a, b)

200

In [65]:
# write a function to take in input a list and value  | check if value exists then return the value else null
l = [10, 20, 30, 40]
target = 50

def valueExists(l: list, val):
    if val in l:
        return val
    else:
        return None
    
valueExists(l, target)

None

In [66]:
# Write a function to take input a list and check if list any any element if yes then retunr len of the list else Nll
l = [1, 4, 7, 8, 9]

def listElementsExists(l):
    if len(l) > 0:
        return len(l)
    return None

# def checkValueExistance(x:list, y):
#      if y in x:
#          return y
# print(checkValueExistance([10,20],10))

listElementsExists(l)

5

In [2]:
# 1. write a function to check element if it's divisible by 2
# 2. call that function in another function to do a square and then return the value

def squareVal(x):
    return x**2

def checkElement(x:int):
    if x%2 == 0:
        return squareVal(x)
    else:
        print(f'{x} not divisble by 2')
        return None

val = 6
checkElement(val)

36

In [72]:
x = lambda a, b, c: a + b + c
print(x(1,2,3))

6

In [1]:
lst = ['mike', 'ram', 'mike', 'bro', 'ram', 'mike']
dict1 = {}

for i in set(lst):
    dict1[i] = lst.count(i)
    
print(dict1)


# dict2 = {}
# s1 = 'football match'

# s1_set = set(s1)
# for i in s1_set:
#     dict2[i] = s1.count(i)

# print(dict2)

{'bro': 1, 'ram': 2, 'mike': 3}

In [1]:
from utils import db_connect

query = "SELECT d.dname, e.* FROM (SELECT *, DENSE_RANK() OVER(PARTITION BY deptno ORDER BY sal DESC) as sal_rank FROM quantrix_schema.emp) e JOIN quantrix_schema.dept d ON e.deptno = d.dptno WHERE e.sal_rank = 2"
db_connect.sql_query(query)

ModuleNotFoundError: No module named 'pandas'